/*
    Name: Fiction University
    Author: Segun
    Author URI: https://segun.decagonhq.com
    Version: 1.0
    Description: A university wordpress theme.
    tags: University, School, Academy, training
    Text Domain: fictionuniversity
*/